@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Tanner Building</h5>
        The Tanner Building is where we live our lives
    </li>

    <li class="two">
        <h5>Marriott School</h5>
        The Marriott School is a leader in the world.
    </li>

    <li class="three">
        <h5>Brigham Young University</h5>
        BYU is cool.
    </li>
</ol>
