@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
            <p>
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
                
            </p>
        </div>
    </section>
}
<h3>Some information regarding who we are:</h3>
<ol class="round">
    <li class="one">
        <h5>Tanner Building</h5>
        At the groundbreaking, held November 8, 1980, speaker after speaker commented upon the appropriateness of 
        honoring President Tanner with a building which would serve students and faculty in the years to come in 
        much the same manner that N. Eldon Tanner has served the Church, his community, his country, and his family.
    </li>

    <li class="two">
        <h5>Marriott School</h5>
        The Marriott School of Management is a business school located in Provo, Utah at Brigham Young University (BYU), 
        a private university in the United States of America owned by The Church of Jesus Christ of Latter-day Saints (LDS Church). 
        Going by several different names since its inception in 1891, the business school at BYU has been known as the Marriott School of 
        Management since 1988, when Marriott International founders J. Willard and Alice Marriott made a $15 million donation to the school. 
        The Marriott School is housed on-campus in the N. Eldon Tanner Building and offers five undergraduate and six graduate degrees.
    </li>

    <li class="three">
        <h5>Brigham Young University</h5>
        Brigham Young University (often referred to as BYU or, colloquially, The Y) is a private university located in Provo, Utah, United States. 
        It is owned and operated by The Church of Jesus Christ of Latter-day Saints (LDS Church), and, excluding online students, is the largest 
        religious university and one of the largest private universities in the U.S., with 34,000 on-campus students.
    </li>
</ol>
